.header {
    text-align: center;
    font-size: 75px;
    margin-bottom: 15px;
}

.leaders {
    display: flex;
    justify-content: space-evenly;
    /* background-color: #FFF1E0; */
}

@media only screen and (device-width: 768px) {
    .leaders {
        flex-direction: column;
        align-items: center;
    }
  }

.link {
    text-decoration: none;
    color: black;
}